<%- include('partials/head') %> 
    
        <%- include('partials/navbar') %>

        <h1 class="display-1">Browsing the <%= name %> subreddit</h1>
        <h2 class="display-4"><%= description %></h2>
        <p class="mb-3"><%= subscribers %> total subscribers</p>
        <hr>
        <h3>POSTS</h3>
        <ul><% for(let post of posts) {%>
        <li class="lead"><%= post.title %> - <b><%= post.author %> </b></li>
        <% if(post.img) { %>
            <img class="m-4" src="<%= post.img %>"> </img>
<% } %>
        
        <% } %>
        </ul>
        
        <%- include('partials/footer') %>