<%- include("../partials/header") %>
<%- include("../partials/navbar") %>
        <h1>Comments</h1>

        <% for(let comm of comments) { %>
           <li><a style="color: black" href="/comments/<%=comm.id%>"> <%= comm.comment %> - <b> <%= comm.username %> </b></a></li>
            <%}%>

            <a href="/comments/new">NEW COMMENT</a>
        
            <%- include("../partials/footer") %>