<%- include("../partials/header") %>
<%- include("../partials/navbar") %>
       
<h1> Comment id: <%= comment.id %></h1>

        <p> <%= comment.comment %> </p>
        <p> - <%= comment.username %></p>


        <form action="/comments/">
            <button class="btn btn-outline-success" type="submit">BACK</button>
        </form>
            <br>
            <form action="/comments/<%= comment.id %>/edit">
            <button class="btn btn-outline-warning" type="submit">Edit Comment</button>
        </form>
            <br>
            <form action="/comments/<%= comment.id %>?_method=DELETE" method="POST">
            <button class="btn btn-outline-danger">DELETE</button>
            </form>
        
            <%- include("../partials/footer") %>